# Practica 1 - Limpieza de datos

*Equipo: 9*

*Grupo 002: Clase Del Miercoles*

*Marco Antonio Oviedo Acevedo    1851698*

*Nayelli Alondra Gaona Allende   1860995*

*Eliud Moreno Narvaez            1863955*

*Luis Adrian Navarro Garcia    1866581*

## 1) Titulo de la base de datos

***a)
Nombre con el que se encuentra en la pagina encontrada.***

*Netflix Movies and TV Shows*

***b)
Url de la pagina.***

https://www.kaggle.com/shivamb/netflix-shows

## 2) Introducción General

***a)
Realizar una descripcion sobre el tema en donde se desarrolla la base de datos.***

Programas de televisión y películas que figuran en Netflix
Este conjunto de datos consta de programas de televisión y películas disponibles en Netflix a partir de 2019. El conjunto de datos se recopila de Flixable, que es un motor de búsqueda de Netflix de terceros.

En 2018, publicaron un informe interesante que muestra que la cantidad de programas de televisión en Netflix casi se ha triplicado desde 2010. La cantidad de películas del servicio de transmisión ha disminuido en más de 2.000 títulos desde 2010, mientras que la cantidad de programas de televisión casi se ha triplicado. Será interesante explorar qué otros conocimientos se pueden obtener del mismo conjunto de datos.

Al integrar este conjunto de datos con otros conjuntos de datos externos, como las calificaciones de IMDB, los tomates podridos también pueden proporcionar muchos hallazgos interesantes.

## 3) Tecnicas De Limpieza De Datos

***a) Importar librerias y bases de datos.***

En esta seccion se importaran las librerias que se podrian utilizar para la lectura de nuestros datos

In [1]:
#import "Libreria" as "Abreviacion"
import pandas as pd #pd es la abreviacion que usaremos para pandas
import os
import numpy as np
import matplotlib.pyplot as plt

In [12]:
mainpath = "/Python-ML/datasets/"
filename = "/netflix_titles.csv"
fullpath = os.path.join(mainpath, filename)

In [13]:
data = pd.read_csv("DataSets/netflix_titles.csv") 
# Agregamos .. para subir un nivel

***Visualizacion de datos.***

obtenemos una vista previa de nuestros datos para saber como a que nos enfrentamos

In [14]:
data.head() #esta funcion nos enseña una visualizacion de las primeras filas de nuestra data
# El rize csv tiene 31 columnas

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

***Descripción basica de columnas***

Observamos los encabezados de mi dataset

In [15]:
data.columns.values #Esta funcion nos mostrara los titulos de nuestras columnas

array(['show_id', 'type', 'title', 'director', 'cast', 'country',
       'date_added', 'release_year', 'rating', 'duration', 'listed_in',
       'description'], dtype=object)

Analizamos las ultimas 8 filas de mi dataset para ver como se comporta

In [16]:
data.tail(8) #observamos las ultimas 8 filas

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7779,s7780,TV Show,Zona Rosa,NaN,"Manu NNa, Ana Julia Yeyé, Ray Contreras, Pablo...",Mexico,"November 26, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",An assortment of talent takes the stage for a ...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

calculamos el numero de filas y columnas de nuestros datos

In [17]:
data.shape # (numero de filas,numero de columnas)

(7787, 12)

obtenemos un resumen de nuestras variables numericas

In [18]:
data.describe() #resumen de los estadísticos básicos de las variables numéricas.

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

en este paso ya nos damos cuenta que trabajaremos con variables categoricas pues solo contamos con una varible numerica

In [19]:
data.dtypes #mostraremos en pantalla el tipo de datos de mis variables

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

Manejamos nuestros datos nulos donde vemos que en algunas columnas tenemos datos incompletos pero la variable que más utlizaremos no contiene variables nulos

In [21]:
#veamos si tenemos algun dato null en nuestra variable que más utilizaremos
pd.isnull(data["show_id"]).values.ravel().sum()

0

In [22]:
#veamos si tenemos algun dato null en nuestro dataset
pd.isnull(data).values.ravel().sum()

3631

In [27]:
#Aunque no se haya encontrado aplicaremos la funcion para remover todos los nulls
data_sin_nulos = data
data_sin_nulos = data.dropna(axis=0, how="all")
#Lo guardamos en otra variable para no perder informacion

In [28]:
data_sin_nulos.dropna(axis=0, how="any")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries",A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...,...
7778,s7779,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,"Dramas, Independent Movies, International Movies",A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [30]:
data_sin_nulos.fillna(0)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,0,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,0,Nasty C,0,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,0,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,0,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

Como no tenemos variables categoricas no aplicaremos ningun analisis de variables Dummy

***Clasificacion de datos***

utilizamos como practica la variable type para crear un categorizacion de varibles dummyn para poder manejarlas en un futuro

In [31]:
data["type"].head(10)

0    TV Show
1      Movie
2      Movie
3      Movie
4      Movie
5    TV Show
6      Movie
7      Movie
8      Movie
9      Movie
Name: type, dtype: object

En este paso creamos nuestras variables dummmy donde daremos valores de 1 si se cumple y 0 si no se cumple

In [32]:
dummy_type = pd.get_dummies(data["type"], prefix="type")

mostramos una previsualizacion del paso anterior

In [33]:

dummy_type.head(10)

   type_Movie  type_TV Show
0           0             1
1           1             0
2           1             0
3           1             0
4           1             0
5           0             1
6           1             0
7           1             0
8           1             0
9           1             0

In [34]:
column_name=data.columns.values.tolist()
column_name

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

Este paso es muy importante pues aqui crearemos un dataframe agregando las nuevas variables que creamos llamadas type_"variable"

In [35]:
data = data.drop(["type"], axis = 1)

In [36]:
data = pd.concat([data, dummy_type], axis = 1)

In [37]:
def createDummies(df, var_name):
    dummy = pd.get_dummies(df[var_name], prefix=var_name)
    df = df.drop(var_name, axis = 1)
    df = pd.concat([df, dummy ], axis = 1)
    return df

las nuevas variables se colocaron al final de las columnas

In [40]:
createDummies(data_sin_nulos, "type")

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,type_Movie,type_TV Show
0,s1,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0,1
1,s2,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1,0
2,s3,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",1,0
3,s4,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",1,0
4,s5,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,1,0
7783,s7784,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,1,0
7784,s7785,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",1,0
7785,s7786,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,0,1
7786,s7787,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,1,0

***Cambiar nombres de columnas***

In [46]:
data.columns = ['show_id', 'titulo', 'director', 'cast', 'pais', 'fecha_agregada',
       'release_year', 'rating', 'duracion', 'listed_in', 'descripcion',
       'type_Movie', 'type_TV Show'] #Cambiamos los nombres de las variables que estan en ingles

In [47]:
data.columns #Esto nos ayudara en analisis posteriores

Index(['show_id', 'titulo', 'director', 'cast', 'pais', 'fecha_agregada',
       'release_year', 'rating', 'duracion', 'listed_in', 'descripcion',
       'type_Movie', 'type_TV Show'],
      dtype='object')